{% extends 'website/base.html' %}
{% load static %}
{% block style %}
    ul > li {
        display: inline-block;
    }
    ul {
        list-style: nome;
    }
    textarea {
        display: block;
        margin-top: 1%;
    }
{% endblock style %}
{% block script %}
    <script src="{% static 'website/js/script.js' %}"></script>
{% endblock script %}
{% block nav %}
    <a href="{% url 'website:home' %}">
        <span class="material-icons md-24">home</span>
        Home
    </a>
    <a href="{% url 'website:estilos' %}">
        <span class="material-icons md-24">pool</span>
        Estilos
    </a>
    <a href="{% url 'website:benificios' %}">
        <span class="material-icons md-24">thumb_up</span>
        Benifícios
    </a>
    <a href="{% url 'website:provas' %}">
        <span class="material-icons md-24">timer</span>
        Provas
    </a>
    <a href="{% url 'website:galeria' %}">
        <span class="material-icons md-24">mms</span>
        Galeria
    </a>
    <a class="active" href="{% url 'website:comentarios' %}">
        <span class="material-icons md-24">feedback</span>
        Comentarios
    </a>
    <a href="{% url 'website:quizz' %}">
        <span class="material-icons md-24">quiz</span>
        Quizz
    </a>
    <a href="{% url 'website:contacto' %}">
        <span class="material-icons md-24">alternate_email</span>
        Contacto
    </a>
    <a href="{% url 'website:about' %}">
        <span class="material-icons md-24">build</span>
        About
    </a>
{% endblock nav %}
{% block main %}
    <h3>Dê-nos a sua opinião sobre o Website</h3>
    <form method="POST" action="">
        <p>&#x2139; Para os 3 primeiros critérios escolha um valor de 1 a 5 sendo 1 Péssimo e 5 Muito Bom. Para os outros escolha o que acha que o Website teve em conta.</p>
        {% csrf_token %}
        {{ form.as_p }}
        <input class = "btn btn-primary" type="submit" value="Enviar Comentários">
    </form>
    <div class="centerIframeOrSvg">
        {{ graphCir|safe }}
    </div>
    <div class="centerIframeOrSvg">
        {{ graphBar|safe }}
    </div>
{% endblock main %}