{% extends 'website/base.html' %}
{% load static %}
{% block style %}
    label {
        display:block;
        margin-bottom: 1%;
    }
    @media (max-width: 600px) {
        input , a{
            width: 100%; <!--Para telemovel-->
        }
    }
{% endblock style %}
{% block nav %}
    <a href="{% url 'website:home' %}">
        <span class="material-icons md-24">home</span>
        Home
    </a>
    <a href="{% url 'website:estilos' %}">
        <span class="material-icons md-24">pool</span>
        Estilos
    </a>
    <a href="{% url 'website:benificios' %}">
        <span class="material-icons md-24">thumb_up</span>
        Benifícios
    </a>
    <a href="{% url 'website:provas' %}">
        <span class="material-icons md-24">timer</span>
        Provas
    </a>
    <a href="{% url 'website:galeria' %}">
        <span class="material-icons md-24">mms</span>
        Galeria
    </a>
    <a href="{% url 'website:comentarios' %}">
        <span class="material-icons md-24">feedback</span>
        Comentarios
    </a>
    <a href="{% url 'website:quizz' %}">
        <span class="material-icons md-24">quiz</span>
        Quizz
    </a>
    <a class="active" href="{% url 'website:contacto' %}">
        <span class="material-icons md-24">alternate_email</span>
        Contacto
    </a>
    <a href="{% url 'website:about' %}">
        <span class="material-icons md-24">build</span>
        About
    </a>
{% endblock nav %}
{% block main %}
    <h3>Editar Contacto:</h3>
    <form method="POST" action="{% url 'website:contactoEdita' contacto_id %}">
        {% csrf_token %}
        {{ form.as_p }}
    <a href="{% url 'website:home' %}" class="btn btn-info">Cancelar</a>
    <input class="btn btn-success" type="submit" value="Gravar">
    <a href="{% url 'website:contactoApaga' contacto_id %}" class="btn btn-danger">Apagar</a>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'website:contactoLista' %}">Ver Todos os Contactos</a>
{% endblock main %}