{% extends 'website/base.html' %}

{% block nav %}
    <a class="active" href="{% url 'website:home' %}">
        <span class="material-icons md-24">home</span>
        Home
    </a>
    <a href="{% url 'website:estilos' %}">
        <span class="material-icons md-24">pool</span>
        Estilos
    </a>
    <a href="{% url 'website:benificios' %}">
        <span class="material-icons md-24">thumb_up</span>
        Benifícios
    </a>
    <a href="{% url 'website:provas' %}">
        <span class="material-icons md-24">timer</span>
        Provas
    </a>
    <a href="{% url 'website:galeria' %}">
        <span class="material-icons md-24">mms</span>
        Galeria
    </a>
    <a href="{% url 'website:comentarios' %}">
        <span class="material-icons md-24">feedback</span>
        Comentarios
    </a>
    <a href="{% url 'website:quizz' %}">
        <span class="material-icons md-24">quiz</span>
        Quizz
    </a>
    <a href="{% url 'website:contacto' %}">
        <span class="material-icons md-24">alternate_email</span>
        Contacto
    </a>
    <a href="{% url 'website:about' %}">
        <span class="material-icons md-24">build</span>
        About
    </a>
{% endblock nav %}
{% block main %}
    <h3>Login</h3>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock main %}